@model MyMerchTracker3.Models.Merch

@{
    ViewData["Title"] = "Create";
}

@*<script>
    if (
        item.MerchTypeId == 1) {
        if (e.target.value === "1") {

            const sizeDiv = document.getElementById("allSize");
            sizeDiv.classList.add("hide");

        }
</script>*@

<h2>Create</h2>

<h4>Merch</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="MerchTypeId" class="control-label"></label>
                <select asp-for="MerchTypeId" class="form-control" asp-items="ViewBag.MerchTypeId" id="typeForm"></select>
            </div>

            <div class="form-group">
                <label asp-for="MerchDescription" class="control-label"></label>
                <input asp-for="MerchDescription" class="form-control" />
                <span asp-validation-for="MerchDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MerchPrice" class="control-label"></label>
                <input asp-for="MerchPrice" class="form-control" />
                <span asp-validation-for="MerchPrice" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId"></select>
            </div>

            @*<div class="form-group">
                    <label asp-for="ImagePath" class="control-label"></label>
                    <input asp-for="ImagePath" class="form-control" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>*@
            @*<div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>*@

            <div id="allSize">
                <div class="form-group">
                    <label asp-for="AllSize" class="control-label"></label>
                    <input asp-for="AllSize" class="form-control" />
                    <span asp-validation-for="AllSize" class="text-danger"></span>
                </div>
            </div>
            <div id="sizes">
                <div class="form-group">
                    <label asp-for="Small" class="control-label"></label>
                    <input asp-for="Small" class="form-control" />
                    <span asp-validation-for="Small" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Medium" class="control-label"></label>
                    <input asp-for="Medium" class="form-control" />
                    <span asp-validation-for="Medium" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Large" class="control-label"></label>
                    <input asp-for="Large" class="form-control" />
                    <span asp-validation-for="Large" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Xlarge" class="control-label"></label>
                    <input asp-for="Xlarge" class="form-control" />
                    <span asp-validation-for="Xlarge" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Xxlarge" class="control-label"></label>
                    <input asp-for="Xxlarge" class="form-control" />
                    <span asp-validation-for="Xxlarge" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    /* code that hides long form unless shirts id is selected*/
    const allSize = document.getElementById("allSize");
    allSize.classList.add("hide")

    const dropDown = document.getElementById("typeForm");
    dropDown.addEventListener("change", (e) => {

        if (e.target.value === "1") {
            const sizeDiv = document.getElementById("sizes");
            sizeDiv.classList.remove("hide");
            const allSize = document.getElementById("allSize");
            allSize.classList.add("hide")
        }

        if (e.target.value !== "1") {
            const sizeDiv = document.getElementById("sizes");
            sizeDiv.classList.add("hide");
            const allSize = document.getElementById("allSize");
            allSize.classList.remove("hide")
        }
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



