@model IEnumerable<MyMerchTracker3.Models.Merch>

@{
    ViewData["Title"] = "Index";
}

<h2>MyShirts</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="cardHolder">

    @foreach (var item in Model)
    {


        <div class="cardStyles">
            <div class="card" style="width: 11rem; height:15rem;">
                <div class="alignItems">
                    <h5 class="card-title cardText"> @Html.DisplayFor(modelItem => item.MerchDescription)</h5>
                    <img class="card-img-top rescaleImage">

                    <div class="card-body">
                        <a class="btn btn-dark cardButton" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </div>

                </div>

            </div>

        </div>
    }
</div>





@*string fileName = $"{ item.merchType.imageURL }";*@
