@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <center><h1 class="headerText"><strong>MY MERCH <br />TRACKER</strong></h1></center>


    <img class="landingImage" src="~/images/back.jpg" alt="Merch">
